body{
    margin:0;
    overflow: hidden;
}

.navbar{
    height:100px;
    background-color: rgb(255, 0, 0);
    color: whitesmoke;
    margin-bottom: 115px;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-top: 100px;
}

.fot{
    color: violet;
}

button{
    padding:10px;
    background-color: rgb(101, 248, 165);
    margin-left: 50px;
    color: #000;
}
button:hover{
    background-color: rgb(179, 225, 236);
    color:#000;
}

